
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Data Enginnering | Data Collection</title>
        <!-- Favicon-->
        <link rel="icon" href="../static/css/favicon.ico"/>
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../static/css/styless.css" rel="stylesheet"/>
        <link href="../static/css/styles.css" rel="stylesheet"/>
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="/home">Data Collection Project</a>
                <p>Hello! This demo has been viewed {{count}} time(s)</p>
                <a class="btn btn-primary" href="#">Say Hi</a>
               <a href="#top" class="btn btn-info"><span>Home</span></a>
               <a href="#about" class="btn btn-info"><span>About</span></a>
               <a href="#contact" class="btn btn-info"><span>Contact</span></a>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead" >
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h6>Please hit the record button and record the audio for the text you see below!</h6>
                            <h6 class="mb-5">Text Corpus: "{{data}}"</h6>
                            <!-- Signup form-->
                            <div class="wrapper">

                                <!-- Here -->

                          
                                <section class="main-controls">
                                  <canvas class="visualizer" height="60px"></canvas>
                                  <div id="buttons">
                                    <button class="record">Record</button>
                                    <button class="stop">Stop</button>
                                  </div>
                                </section>
                          
                                <section class="sound-clips">
                          
                                    
                                </section>
                                <button id="upload" style="width: 30%; height: 50px;">Upload</button>
                                

                              </div>
                              <header>
                                <h4>Upload Recorded audio of the Text Above and click SUBMIT RECORDING</h4>
                              </header>
                              <form method='POST' enctype="multipart/form-data">
                                <input type="file" name="audio_data" />
                                <button type="submit">SUBMIT RECORDING</button>
                              </form>

                        </div>
                    </div>
                </div>
            </div>
        </header>

          <!-- About section -->

  <section id="about">
    <div class="container">
      <div class="row">
        
        <div class="col-md-8 col-sm-8 " data-wow-delay="0.2s">
          <div class="about-thumb">
            <br> <br>
            <h2>Background</h2>
            <p>
              In weeks 4 & 5 of 10 Academy trainings of batch 4, We built an AI model for either Swihali or Amharic
              language. For both of the cases, We have experienced the lack and quality of data. If we Had had a diverse
              and large training set, our model could have improved and our model could have transformed the lives of
              many in East Africa.
            </p>
            <p>
              Recognizing the value of large data sets for speech-to-text data sets, and seeing the opportunity that
              there are many text corpuses for both languages, and understanding that complex data engineering skills is
              valuable. That is why we designed and built a robust, large scale, fault tolerant, highly available Kafka
              cluster that can be used to post a sentence and receive an audio file.
            </p>

          </div>
        </div>

        <div class="col-md-3 col-sm-4  about-img" data-wow-delay="0.6s">
          <img src="../static/img/10academy.jpg"  width="200px" class="img-responsive img-circle" alt="About">
        </div>

        <div class="clearfix"></div>

        <div class="col-md-12 col-sm-12 " data-wow-delay="0.3s">
          <div class="section-title text-left">
            <h2>Chang Team</h2>
            <h5>Meet chang group team </h5>
            <br>
          </div>
        </div>

        <!-- team carousel -->
        <div class="row">

          <div class="col-md-4 col-sm-6 " data-wow-delay="0.4s">
            <div class="team-thumb">
              <div class="image-holder">
                <img src="../static/img/germain.jpeg" width="200px" class="img-responsive img-circle" alt="Germain" style="border-radius: 28px;">
              </div>
              <h2 class="heading">Germain</h2>
              <p class="description">front end developer </p>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 " data-wow-delay="0.6s">
            <div class="team-thumb">
              <div class="image-holder">
                <img src="../static/img/BINYAM.jpeg" width="200px" class="img-responsive img-circle" alt="Binyam"style="border-radius: 28px;">
              </div>
              <h2 class="heading">Binyam</h2>
              <p class="description">handling kafka producer part.</p>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 " data-wow-delay="0.8s">
            <div class="team-thumb">
              <div class="image-holder">
                <img src="../static/img/Smegnsh.jpeg" width="200px" class="img-responsive img-circle" alt="Smegnsh"style="border-radius: 28px;">
              </div>
              <h2 class="heading">Smegnsh</h2>
              <p class="description">js developer.</p>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 " data-wow-delay="0.8s">
            <div class="team-thumb">
              <div class="image-holder">
                <img src="../static/img/BORIS.jpeg" width="200px" class="img-responsive img-circle" alt="Boris"style="border-radius: 28px;">
              </div>
              <h2 class="heading">Boris</h2>
              <p class="description">handling Spark part</p>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 " data-wow-delay="0.8s">
            <div class="team-thumb">
              <div class="image-holder">
                <img src="../static/img/ethan.jpeg" width="200px" class="img-responsive img-circle" alt="Ethan"style="border-radius: 28px;">
              </div>
              <h2 class="heading">Ethan</h2>
              <p class="description">Handling kafka consumer part</p>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 " data-wow-delay="0.8s">
            <div class="team-thumb">
              <div class="image-holder">
                <img src="../static/img/user.png" width="200px" class="img-responsive img-circle" alt="Stella"style="border-radius: 28px;">
              </div>
              <h2 class="heading">Stella</h2>
              <p class="description">Handling s3 bucket part.</p>
            </div>
          </div>

          <div class="item col-md-4 col-sm-6 " data-wow-delay="0.8s">
            <div class="team-thumb">
              <div class="image-holder">
                <img src="../static/img/user.png" width="200px" class="img-responsive img-circle" alt="daniel"style="border-radius: 28px;">
              </div>
              <h2 class="heading">daniel</h2>
              <p class="description">..............</p>
            </div>
          </div>

          <div class="item col-md-4 col-sm-6 " data-wow-delay="0.8s">
            <div class="team-thumb">
              <div class="image-holder">
                <img src="../static/img/user.png" width="200px" class="img-responsive img-circle" alt="Yosef"style="border-radius: 28px;">
              </div>
              <h2 class="heading">Yosef</h2>
              <p class="description">.................</p>
            </div>
          </div>

        </div>
        <!-- end team carousel -->

      </div>
    </div>
  </section>
        <!-- Icons Grid-->
        <section class="features-icons bg-light text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi-window m-auto text-primary"></i></div>
                            <h3>Say Hi to Chang</h3>
                            <p class="lead mb-0">Help Us Apply ML Solutions to help the Society!</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi-layers m-auto text-primary"></i></div>
                            <h3>Record Audio</h3>
                            <p class="lead mb-0">Please, Send us the recording of the displayed text</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi-terminal m-auto text-primary"></i></div>
                            <h3>Thanks for Your Time</h3>
                            <p class="lead mb-0">Welcome again, you're a Valued member!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

         <!-- Contact section -->

        <section id="contact">
            <div class="container">
            <div class="row">

                <div class="col-md-offset-1 col-md-10 col-sm-12">

                <div class="col-lg-offset-1 col-lg-10 section-title wow fadeInUp" data-wow-delay="0.4s">
                    <h1>Send a message</h1>
                    <p>We would love to here from you </p>
                </div>

                <form action="#" method="post" class="wow fadeInUp" data-wow-delay="0.8s">
                    <div class="col-md-6 col-sm-6">
                    <input name="name" type="text" class="form-control" id="name" placeholder="Name">
                    </div> <br>
                    <div class="col-md-6 col-sm-6">
                    <input name="email" type="email" class="form-control" id="email" placeholder="Email">
                    </div> <br>
                    <div class="col-md-12 col-sm-12">
                    <textarea name="message" rows="6" class="form-control" id="message" placeholder="Message"></textarea>
                    </div> <br>
                    <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6">
                    <input type="submit" class="form-control" value="SEND MESSAGE">
                    </div>
                </form>

                </div>

            </div>
            </div>
        </section>
      
        <!-- Footer-->
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                    
                        <p class="text-muted small mb-4 mb-lg-0">&copy; 10 Academy Data Enginnering Project 2021. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </footer>
        <script src="{{ url_for('static', filename='js/app.js')}}" async defer></script>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
       <script src="../static/js/scripts.js"></script>
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    </body>
</html>
