<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="">
  <meta name="description" content="">

  <title>Speech-to-text data collection </title>

  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/animate.min.css">
  <link rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/component.css">
  
    <link rel="stylesheet" href="../static/css/owl.theme.css">
  <link rel="stylesheet" href="../static/css/owl.carousel.css">
  <link rel="stylesheet" href="../static/css/vegas.min.css">
  <link rel="stylesheet" href="../static/css/style.css">

  <!-- Google web font  -->
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300' rel='stylesheet' type='text/css'>
  
</head>
<body id="top" data-spy="scroll" data-offset="50" data-target=".navbar-collapse">


<!-- Preloader section -->

<div class="preloader">
     <div class="sk-spinner sk-spinner-pulse"></div>
</div>


<!-- Navigation section  -->

  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

      <div class="navbar-header">
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon icon-bar"></span>
          <span class="icon icon-bar"></span>
          <span class="icon icon-bar"></span>
        </button>
        <a href="#top" class="navbar-brand smoothScroll">Chang Group</a>
        
      </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">

            <!-- <li><p>Hello! This demo has been viewed {{count}} time(s)</p></li> -->
            <li><a href="#top" class="smoothScroll"><span>Home</span></a></li>
            <li><a href="#about" class="smoothScroll"><span>About</span></a></li>
            <li><a href="#contact" class="smoothScroll"><span>Contact</span></a></li>
          </ul>
       </div>

    </div>
  </div>


<!-- Home section -->

<section id="home">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">

      <div class="col-md-offset-1 col-md-10 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
          <h2>Please hit the record button and record the audio for the text you see below!</h2>
          <h1 class="mb-5">Text Corpus: "{{data}}"</h1>
        <!-- <h1>"<span id="transcript"></span>"</h1> -->

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <div id="controls">
        
                            <!-- Signup form-->
                            <div class="wrapper">

                                <!-- Here -->

                          
                                <section class="main-controls">
                                  <canvas class="visualizer" height="60px"></canvas>
                                  <div id="buttons">
                                    <button class="record">Record</button>
                                    <button class="stop">Stop</button>
                                  </div>
                                </section>
                          
                                <section class="sound-clips">
                          
                                    
                                </section>
                                <button id="upload" style="width: 30%; height: 50px;">Upload</button>
                                

                              </div>
                              <header>
                                <h2>Upload Recorded audio of the Text Above and click SUBMIT RECORDING</h2>
                              </header>
                              <form method='POST' enctype="multipart/form-data">
                                <input type="file" name="audio_data" />
                                <button type="submit">SUBMIT RECORDING</button>
                              </form>

        <!-- <h2 class="wow fadeInUp" data-wow-delay="0.6s">Let's all contribute in making African laguages more accessible in speech_to_text world</h2>
        <p class="wow fadeInUp" data-wow-delay="0.9s">Chang group is contributing in building a strong pipeline which will be used in deploying a speech-to-text of an African laguage. we would like your contribution by reading this provided word above.</p>  -->
 
        <a href="#about" class="smoothScroll btn btn-success btn-lg wow fadeInUp" data-wow-delay="1s">Learn more</a>
        

      </div>

    </div>
  </div>
</section>


<!-- About section -->

<section id="about">
  <div class="container">
    <div class="row">

      <div class="col-md-9 col-sm-8 wow fadeInUp" data-wow-delay="0.2s">
        <div class="about-thumb">
          <h1>Background</h1>
          <p>
           In weeks 4 & 5 of 10 Academy trainings of batch 4, We built an AI model for either Swihali or Amharic language. For both of the cases, We have experienced the lack and quality of data. If we Had  had a diverse and large training set, our model could have improved and our model could have transformed the lives of many in East Africa.
          </p>
          <p>
           Recognizing the value of large data sets for speech-to-text data sets, and seeing the opportunity that there are many text corpuses for both languages, and understanding that complex data engineering skills is valuable. That is why we designed and built a robust, large scale, fault tolerant, highly available Kafka cluster that can be used to post a sentence and receive an audio file.
          </p>
         
        </div>
      </div>

      <div class="col-md-3 col-sm-4 wow fadeInUp about-img" data-wow-delay="0.6s">
        <img src="../static/images/10academy.jpg" class="img-responsive img-circle" alt="About">
      </div>

      <div class="clearfix"></div>

      <div class="col-md-12 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
        <div class="section-title text-center">
          <h1>Chang Team</h1>
          <h3>Meet chang group team </h3>
        </div>
      </div>

      <!-- team carousel -->
      <div id="team-carousel" class="owl-carousel">

      <div class="item col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
        <div class="team-thumb">
          <div class="image-holder">
            <img src="../static/images/germain.jpeg" width="200px" class="img-responsive img-circle" alt="Germain" style="border-radius: 28px;">
            <!-- <img src="../static/img/ethan.jpeg" width="200px" class="img-responsive img-circle" alt="Ethan"style="border-radius: 28px;"> -->
          </div>
          <h2 class="heading">Germain</h2>
          <p class="description">front end developer </p>
        </div>
      </div>

      <div class="item col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
        <div class="team-thumb">
          <div class="image-holder">
            <img src="../static/images/BINYAM.jpeg" width="200px" class="img-responsive img-circle" alt="Binyam" style="border-radius: 28px;">
          </div>
          <h2 class="heading">Binyam</h2>
          <p class="description">handling kafka producer part.</p>
        </div>
      </div>

      <div class="item col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.8s">
        <div class="team-thumb">
          <div class="image-holder">
            <img src="../static/images/Smegnsh.jpeg" width="200px" class="img-responsive img-circle" alt="Smegnsh" style="border-radius: 28px;">
          </div>
          <h2 class="heading">Smegnsh</h2>
          <p class="description">js developer.</p>
        </div>
      </div>

      <div class="item col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.8s">
        <div class="team-thumb">
          <div class="image-holder">
            <img src="../static/images/BORIS.jpeg" width="200px"  class="img-responsive img-circle" alt="Boris" style="border-radius: 28px;">
          </div>
          <h2 class="heading">Boris</h2>
          <p class="description">handling Spark part</p>
        </div>
      </div>

      <div class="item col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.8s">
        <div class="team-thumb">
          <div class="image-holder">
            <img src="../static/images/ethan.jpeg" width="200px"  class="img-responsive img-circle" alt="Ethan" style="border-radius: 28px;">
          </div>
          <h2 class="heading">Ethan</h2>
          <p class="description">Handling kafka consumer part</p>
        </div>
      </div>

      <div class="item col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.8s">
        <div class="team-thumb">
          <div class="image-holder">
            <img src="../static/images/Stella.jpg" width="200px" class="img-responsive img-circle" alt="Stella" style="border-radius: 28px;">
          </div>
          <h2 class="heading">Stella</h2>
          <p class="description">Handling s3 bucket part.</p>
        </div>
      </div>

      <div class="item col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.8s">
        <div class="team-thumb">
          <div class="image-holder">
            <img src="../static/images/daniel.jpg" width="200px" class="img-responsive img-circle" alt="daniel" style="border-radius: 28px;">
          </div>
          <h2 class="heading">daniel</h2>
          <p class="description">..............</p>
        </div>
      </div>

      <div class="item col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.8s">
        <div class="team-thumb">
          <div class="image-holder">
            <img src="../static/images/Yosef.jpg" width="200px" class="img-responsive img-circle" alt="Yosef" style="border-radius: 28px;">
          </div>
          <h2 class="heading">Yosef</h2>
          <p class="description">.................</p>
        </div>
      </div>

      </div>
      <!-- end team carousel -->

    </div>
  </div>
</section>


<!-- Contact section -->

<section id="contact">
  <div class="container">
    <div class="row">

       <div class="col-md-offset-1 col-md-10 col-sm-12">

        <div class="col-lg-offset-1 col-lg-10 section-title wow fadeInUp" data-wow-delay="0.4s">
          <h1>Send a message</h1>
          <p>We would love to here from you </p>
        </div>

        <form action="#" method="post" class="wow fadeInUp" data-wow-delay="0.8s">
          <div class="col-md-6 col-sm-6">
            <input name="name" type="text" class="form-control" id="name" placeholder="Name">
          </div>
          <div class="col-md-6 col-sm-6">
            <input name="email" type="email" class="form-control" id="email" placeholder="Email">
          </div>
          <div class="col-md-12 col-sm-12">
            <textarea name="message" rows="6" class="form-control" id="message" placeholder="Message"></textarea>
          </div>
          <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6">
            <input type="submit" class="form-control" value="SEND MESSAGE">
          </div>
        </form>

      </div>

    </div>
  </div>
</section>


<!-- Footer section -->

<footer>
  <div class="container">
    
    <div class="row">

      <div class="col-md-12 col-sm-12">
            
                <ul class="social-icon"> 
                    <li><a href="https://github.com/Chang-10Academy/speech-to-text-data-collection" class="fa fa-github wow fadeInUp" data-wow-delay="0.2s"></a></li>
                    <li><a href="#" class="fa fa-facebook wow fadeInUp" data-wow-delay="0.2s"></a></li>
                    <li><a href="#" class="fa fa-twitter wow fadeInUp" data-wow-delay="0.4s"></a></li>
                    <li><a href="#" class="fa fa-linkedin wow fadeInUp" data-wow-delay="0.6s"></a></li>
                    <li><a href="#" class="fa fa-instagram wow fadeInUp" data-wow-delay="0.8s"></a></li>
                    <li><a href="#" class="fa fa-google-plus wow fadeInUp" data-wow-delay="1.0s"></a></li>
                </ul>

        <p class="wow fadeInUp"  data-wow-delay="1s" >Copyright &copy; 2021 chang group | 
                </p>
                
      </div>
      
    </div>
        
  </div>
</footer>

<!-- Back top -->
<a href="#" class="go-top"><i class="fa fa-angle-up"></i></a>

<!-- Javascript  -->
<script src="../static/js/jquery.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/vegas.min.js"></script>
<script src="../static/js/modernizr.custom.js"></script>
<script src="../static/js/toucheffects.js"></script>
<script src="../static/js/owl.carousel.min.js"></script>
<script src="../static/js/smoothscroll.js"></script>
<script src="../static/js/wow.min.js"></script>
<script src="../static/js/custom.js"></script>
<script src="../static/js/word.js"></script>
<script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
<script src="../static/js/app.js"></script>



</body>
</html>